div class="card"> 
        <div class="card-header">  
        <h2>{{post_title}}</h2>
        <h3>{{user.username}}</h3>
        </div>
        <div class="post-content">
        <p >{{post}}</p>
    </div>
    </div>

   <form class="card" id='post-comment'>
        <div class="card-header">
        <h2>Post a comment</h2>
        </div>
            <input type="text area" class="post-upload" id="comment">
            <button class="btn-update" id="comment-btn">Post</button>
            </form>


{{#each comments}}
<div class="card">
     <div class="card-header">  
        <h2>comment</h2>
           <h3>{{user.username}}</h3>
        </div>
        <div class="post-content">
        <p >{{comment}}</p>
    </div>
</div>
{{/each}}

<script src="/js/post-comment.js"></script>